.env
data/
node_modules/
npm-debug.log*
.DS_Store
Thumbs.db
public/*.bak
public/*.js.js
public/assets/menu/barbe-fried-bowl.jpg
public/assets/menu/beetroot-berries.png
public/assets/menu/curry-goat-rice-bowl.jpg
public/assets/menu/fried-chicken-rice-bowl.jpg
public/assets/menu/fried-chicken-salad-bowl.jpg
public/assets/menu/guinness-punch.png
public/assets/menu/jerk-chicken-bowl.jpg
public/assets/menu/jerk-chicken-rice-bowl.jpg
public/assets/menu/jerk-chicken-salad-bowl.jpg
public/assets/menu/kiwi-cucumber-pineapple.png
public/assets/menu/pepper-steak.png
public/assets/menu/pineapple-carrot-ginger.png
