STRIPE_SECRET_KEY=sk_test_your_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
RESEND_API_KEY=re_your_resend_api_key_here
RESTAURANT_EMAIL=naturalhypejuiceandjerk@gmail.com
MAIL_FROM=Natural Hype Orders <orders@natural-hype.co.uk>
TWILIO_ACCOUNT_SID=AC_your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_FROM_NUMBER=+447000000000
BUSINESS_PHONE_NUMBER=+447498574490
ADMIN_PIN=2026
PORT=3000
